<!--ユーザープロフィール-->
<div>
  <h3><%= @user.name %></h3>
  <!--<%= image_tag("sample-author1.jpg")%>-->
  <!--↓上のプロフ画像をrefile使用時の書き方へ変更-->
  <%= attachment_image_tag @user,:profile_image,:fill,100,100,format:"jpeg",fallback:"no_image.jpg" %>

<!--プロフィール編集画面へ-->
  <% if @user.id == current_user.id %>
  <p><%=link_to "プロフィール編集",edit_user_path(@user)%></p>
  <% end %>

</div>

<%= render "post_images/list",post_images:@post_images%>